.Chat_Room{
	position: fixed;
	top:0px;
	height:100%;
	width:25%;
	left: calc(75% - 1px);
	border-style: solid;
	border-left-width:0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-right-width: 0px;
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(220,198,224,0.3);
}
.Type_Here{
	position:fixed;
	bottom:0px;
	width: 15%;
	height:15%;
	resize: none;
	font-family: 'Open Sans', sans-serif;
	color: #34495E;
	margin-bottom: 2%;
	margin-left: 2%;
	border: 2px solid #EEEEEE;
	border-radius: 5px;
	background-color: #EEEEEE;
}

.Send_Button{
	position:absolute;
	height: calc(14.3% - 17px);
	padding:10px;
	cursor: pointer;
	width: 14.5%;
	margin-left: calc(90% - 60px);
	bottom:0px;
	border: 1px solid #91688F;
	border-radius: 5px;
	background-color: #EEEEEE;
	text-align: center;
	margin-bottom: 8%;
	margin-right: 2%;
	color: #91688F;
}
.Send_Button:hover{
	background-color: rgba(104,160,160,1);
	border: 1px solid rgba(104,160,160,1);
	color: #ffffff;
}

.Message_Window{
	width: 20%;
	height: 60%;
	margin-left: 2%;
	margin-top: 1.5%;
	position: fixed;
	background-color: #EEEEEE;
	border-radius: 5px;
	text-align: left;
	padding-left: 10px;
	padding-top: 10px;
	z-index: -1;
}
.Chat_Icon p {text-align: center; padding: 15px;}
.Chat_Icon ul  {list-style: none;padding: 0px;margin: 0px; text-align: center;}
.Chat_Icon li {display: block;position: auto;float: left;}
.Chat_Icon li ul {display: none;}
.Chat_Icon li a {display: block;background: #68A0A0;padding: 5px 10px 5px 10px;text-decoration: none;
           white-space: nowrap;color: #fff;}
.Chat_Icon  li a:hover {background: #68A0A0;}
.Chat_Icon  li:hover ul {display: block; position: auto;}
.Chat_Icon  li:hover li {float: none;}
.Chat_Icon  li:hover a {background: #CDCDCD;}
.Chat_Icon  li:hover li a:hover {background: #68A0A0;}
.Chat_Icon  #drop-nav li {border-top: 0px;}