
@import url(https://fonts.googleapis.com/css?family=Caveat);
	
#logo-placeholder
{
float: left;
height: 50px;
	width: 8%;
    margin-right: 3%;
	position:relative;
	margin-left: 1%;
	margin-right: 1%;
}
.title-text
{
font-family: 'Caveat', cursive;
font-size: 4em;
position: relative;
color: #91688F;
width: 45%;
margin-left: 30%;
height: 10%;

}
.wrapper
{
    float: left;
    position: relative;
    width: 20%;
    height: 40px;
    }    
.body-text
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    color: #34495E;
    text-align: center;
}

.clock
{
    float: right;
    margin-right: 30%;
    font-size: 3em;
    font-family: 'Open Sans', sans-serif;
   
    font-weight: 600;
    font-style: serif;
    color: #34495E;

}
.header-holder
{
    margin-top: 1%;
    position: relative;
    width: 100%;
    height: 10%;


}
.create-bar
{
   
    position: relative;
    width: 100%;
    float: left;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 25%;
    margin-right: 2%;
    height: 50px;
  
}
.bookmark-text
{
   margin-left: 2%;
    vertical-align: top;
    padding-bottom: 15px;
    color: #DCC6E0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    float: left; 
    font-size: 15px;
    position: relative;
}

.bookmark-image
{
    height: 30px;
    width: 30px;
    float: left;
    position: relative;
    margin-left: 50%;
}
.panel-holder
{
    width:75%;
    margin-left: 1%;
    position: relative;
    text-align: center;
}
.panel-title
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    position: relative;
    float: left;
    width: 60%;
    margin-left: 8%;
    height: 35px;
    color: #34495E;
}

#panels
{
    background-color: #fff;
    width: 45%;
    z-index: 200;
    border-radius: 10px;
    margin:2%;
    position: relative;
    height: 88px;
    margin-bottom: 1pt;
}
#panels:hover
{
    opacity: 0.8;
    background-color: #E6E6E6;
    padding: 1%;
    
}
/* Some CSS styling */
#sketchpadapp {
    margin-right: 27%;
    float: right;
    margin-right: 2%;
    height: 50%;
    position: relative;
    width: 68%;
    margin-bottom: 0;
    margin-left: 0;
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.tools
{
    margin-top: 2%;
    background-color: #fff;
    width: 100%;
    border-radius: 5px;
    height: 30px;
    position:relative;
}
#canvas_tool_eraser, #canvas_tool_brush, #canvas_tool_undo, #canvas_tool_text
{
    
    text-decoration: none;
    border-radius: 5px;
    float: right;
    padding-left: 1%;
    padding-right: 1%;
    background-color: #fff;
    position: relative;
}


#eraser, #brush, #undo, #text
{
    margin-top: 1%;
    padding: 5%;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    border-color: #68A0A0;
}

.sub-brush, .sub-eraser, .sub-text {
    margin-top: 2%;
    color: #68A0A0;
    height: 50px;
    width: 100px; 
    text-align: left;
    margin-left: 1%;
    position: absolute;
    z-index: 200;
    display: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
 }


ul
{   padding: 0;
    list-style-type: none;
}
ul p
{
     margin-left:5px;
     margin-bottom: 2px;
     margin-top: 2px;
     margin-right: 5px;
}
ul p:hover
{
    list-style-type: none;
    background-color: #68a0a0;
    color: white;
    border-radius: 3px;
    text-decoration: none;

}
#eraser:hover
{
    src="content/eraser-hover.png";
}
#simple_sketch{
    border-radius:5px;
    width: 100%;
    overflow: hidden;
    height: 100%;
    background-color: #fff;
    position:relative; /* Necessary for correct mouse co-ords in Firefox */
}

#done
{
    margin-top: 5%;
    margin-left: 61%;
    height: 30px;
    position: relative;
    width: 8%;
    border-radius: 5px;
    max-width: 10%;
    
}
.modal-content, #ideate-modal-content
{
    border-color: #34495E;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    background-color: #EEE;
    
}
#ideate-modal-content
{
    background-color: #91688f;
}

.modal-title

{
    background-color: #EEE;
}
#modal-header-text
{
    text-align: center;
    width: 100%;
    margin-left: 2%;
}
 #ideate-modal-header-text
 {
    position: fill;
    margin-bottom: 10%;
    margin-left: 24%;
   color: #DCC6E0;
 }
 #ideate-modal-body-text
 {
    position: fill;
    height: 40%;
    margin-top: 20%;
    color: #fff;
    margin-bottom: 10%;

 }


.modal-gallery
{
    background-color: #EEE;
    margin-top: 5%;
    padding-top: 3%;
    height:55%;
    width: 90%;
    overflow:hidden;
    text-align: center;
    margin-left: 5%;
  
}
#modal-panels
{
    background-color: #eee;
    opacity: 0.8;
    width: 25%;
    padding:4%;
    height: 35%;
    float: left;
    overflow: hidden;
    margin-bottom: 1pt;
}
#ideate-modal-body-text
{
    position: relative;
    width: 100%;
    height: 45px;
}

body
{
    background-color: #EEE;
    margin-left: 1%;
    margin-right: 1%;
    overflow: hidden;
}

button
{
    border-style: solid;
    border-color: #68A0A0;
    color: #68A0A0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    height: 30px;
    text-align: center;
    border-radius: 5px;
}
a
{
    text-decoration: none;
}

button:hover
{
    color: #fff;
    background-color: #68A0A0;
}


/*----- Accordion -----*/
.accordion, .accordion * {
   
    width: 100%;
    float: left;
    background-color: #eee;
    height: 440px;
    color: #68A0A0;
    -webkit-box-sizing:border-box; 
    -moz-box-sizing:border-box; 
    box-sizing:border-box;
}
 
.accordion {
    margin-left: 2%;
  ` max-height: 440px;
    overflow-x:hidden;
    overflow-y:hidden;
    width: 25%;
    color: #fff;
    position: relative;
    border-radius:5px;
    

}
 
/*----- Section Titles -----*/
.accordion-section-title {
    width:100%;
    height: 35px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5em;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    color: #34495E;
    background-color: #fff;
    text-decoration: none;
    overflow: hidden;
  

    transition:all linear 0.15s;
    /* Type */
    
    position: relative;
}
 
.accordion-section-title.active, .accordion-section-title:hover {
    background-color: #91688F;
   color: #DCC6E0;
    width: 100%;
    overflow: hidden;
    /* Type */
    text-decoration:none;
}
 
.accordion-section:last-child .accordion-section-title {
    border-bottom:none;
    width: 100%;
    overflow: hidden;
    text-decoration: none;
}
 
/*----- Section Content -----*/
.accordion-section-content {

   margin-top:5%;
   padding-top: 2%;
   border-radius: 5px;
   max-height: 440px;
   height: 440px;
   background-color: #DCC6E0;
    display:inline-block;
}



